<div class="container">
    <form method="get" action="/external/result">
        <header class="jumbotron my-4">
            <h1 class="display-6">PILLS</h1>
            <p class="lead">PILLS는 약품에 대한 정보와 자신들의 지식을 공유할 수 있는
                게시판을 제공합니다.</p>
        </header>

        <div class="card mb-4">
            <div class="card-body">
                <div class="input-group">
                    <input type="text" name="itemName" class="form-control" placeholder="검색하고싶은 제품명을 입력해주세요.">
                    <span>
                        <button type="submit" class="btn btn-secondary">검색</button>
                    </span>
                </div>
            </div>
        </div>

        <div class="row text-center">

            <div class="col-lg-3 col-md-6 mb-4" id="search_shape">
                <div class="card">
                    <img class="card-img-top" src="images/shape.jpg">
                </div>
            </div>


        </div>
    </form>
</div>



<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">PILLS &copy; 언어</p>
    </div>
</footer>

