
    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Reset Password</div>
        <div class="card-body">
          <div class="text-left mb-4">
            <h4>비밀번호를 잊으셨나요?</h4>
            <p>이메일 주소를 입력하세요! 새로운 비밀번호를 전송합니다.</p>
          </div>
          <form>
            <div class="form-group">
              <div class="form-label-group">
                <label for="inputEmail">이메일 주소를 입력해해주세요</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Enter email address" required="required" autofocus="autofocus">
              </div>
            </div>
            <a class="btn btn-primary btn-block" href="login.html">비밀번호 재설정</a>
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" href="/register">회원 등록하기</a>
            <a class="d-block small" href="/login">로그인 페이지</a>
          </div>
        </div>
      </div>
    </div>
