doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    //- style.
    //-   p {
    //-     font-size : 30px;
    //-   }
    //- script.
    //-   var message = 'Pug';
    //-   alert(message);
    
  body
    block content
